{
    "adminUser": "notanadmin@example.com",
    "customAttr": {
        "category": "SSO",
        "name":     "role",
        "value":    "thisisnotarole"
    },
    "targetUsers": [
        "notauser@example.com"
    ]
}
