{
    "adminUser": "notanadmin@example.com",
    "schemas": {
        "SSO": {
            "role": [
                {"type": "work", "value": "thisisnotarole"}
            ]
        }
    },
    "targetUsers": [
        "notauser@example.com"
    ]
}
